@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body {
	background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);
  }
h1{
	color: rgb(255, 255, 255);
	margin: 20px auto 0;
  right: 1000px;
	width: 1000px;
	text-align: center;
}
#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -100px;
	top: 50%;
	margin-top: -75px;
}

/* === Sign in Form === */
#signin {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#signin::before {
	position: relative;
	height: 2px;
	background: rgb(52, 56, 61);
	content: '';
	top: 44px;
	margin-left: 32px;
	z-index: 1;
}
#signin label:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#signin input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(0, 0, 0);
}
#signin  input[type="text"], #signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(52, 56, 61);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(52, 56, 61);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
#signin button[type="submit"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}
#signin p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#signin p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#signin p > a:hover{
	border-bottom: 1px solid;
}
/* Переключатель - коробка вокруг ползунка */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Скрыть флажок HTML по умолчанию */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background: url(https://html5book.ru/wp-content/uploads/2015/07/background39.png);
}
.floating-button {
  display: inline-block;
	height: 50px;
  line-height: 50px;
  position: relative;
  border: 1px solid white;
  padding: 0 1rem;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

