<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
      <link rel="stylesheet" href="static/css/style2.css">

</head>

<body>
  <h1>Програмный блокировщик</h1>
<div id="wrapper">
	<form id="signin" method="post" action="" autocomplete="off">
		<label type="text"> Выберите активность</label>
		<label class="switch">
			<input type="checkbox" name="checkbox">
			<span class="slider round"></span>
		</label>		  
		<button type="submit">&#xf0da;</button>
	</form>
</div>
  
  
</body>
</html>
