<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
      <link rel="stylesheet" href="static/css/style3.css">

</head>

<body>
  <h1 style="color:black", style="font-family:Verdana, Geneva, Tahoma, sans-serif">Меню</h1>
<div id="wrapper">
	<form id="signin" method="post" action="" autocomplete="off">
		<label type="text", style="font-family:Verdana, Geneva, Tahoma, sans-serif"> Выберите действие</label>
		<a href="volume_sensor" class="floating-button">Объем</a>
		<a href="crusher" class="floating-button">Сминатель</a>
		<a href="tensa" class="floating-button">Тенза</a>
		<a href="ejection" class="floating-button">Выброс</a>
		<a href="enable_engine" class="floating-button">Дорожка</a>
		<a href="stop" class="floating-button">Остановить</a>
		<a href="software_blocker" class="floating-button">Блокировщик</a>
		<a href="check_weight" class="floating-button">Вес</a>
	</form>
</div>
  
  
</body>
</html>
